@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400&display=swap');

.pokemon_list {
  list-style-type: none
}

.pokemon_button {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 20px;

  width: 160px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px auto;
  border: 5px solid gray;
  border-radius: 6px;
  color: black;
  background-color: #00cccc;
  transition: 0.3s;
  text-transform: capitalize;
}

.pokemon_button:hover {
  opacity: .75;
  color: black;
}

#modal_container {
  position: fixed;
  padding: 20px;

  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  /* to show it above other content */
  z-index: 999;

  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;

  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  font-family: "Atkinson Hyperlegible", sans-serif;
  text-transform: capitalize;
  border: 10px solid black;
  border-radius: 25px;
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: center;
}

.modal_close {
  float: right;
  -webkit-appearance: none;
  border: 1px solid black;
  border-radius: 10px;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal_close:hover {
  opacity: .5;
}
.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}

#modal_container {
  display: none;
}

#modal_container.is_visible {
  display: block
}

.pokemon_sprite {
  height: 200px;
  border: 10px solid gray;
  background-color: #00cccc;
  padding: 0px;
}
